/********************** Styling for Button *********************************************/
button {
    background-color: $linkColor;
    border: none;
    border-radius: 8px;
    padding: 8px 8px;
    color: $headingColor;

    &:hover {
        color: $white;
        @extend %hoverEffect;
        text-decoration: underline;
    }
}